body {
    background: linear-gradient(#2f3e46, #84a98c);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainNavbar .nav-link {
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

#mainNavbar .nav-link:hover {
    color: #84a98c;
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, .8);
    transition: background .8s;
}

.intro-container {
    display: flex;
    background: linear-gradient(to bottom, rgba(119, 72, 8, 0.565), rgba(121, 23, 151, 0.291)),
        url('../img/clay-banks-oO6Gm16Cqcg-unsplash.jpg') center center no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    border: solid 5px #2f3e46;
    border-radius: 5px;
    height: 90vh;
    padding: 5px;
    margin: 20px;
    margin-top: 55px;
}

.intro-content {
    display: flexbox;
    align-items: center;
    justify-content: center;
    max-width: 3000px;
    text-align: center;
    padding: 100px;
    margin: 20px;
    color: #cad2c5;
    text-shadow: 2px 2px 4px #2f3e46;
}

.intro-content h1 {
    font-size: 60px;
}

.intro-content p {
    font-size: 30px;
}

.intro-content a {
    text-decoration: none;
    color: #f4a261;
}

.intro-content a:hover {
    text-decoration: none;
    color: #f4a261;
}

.intro-content .github-link:hover {
    text-decoration: underline;
}

.skip-to-btn {
    background-color: rgba(56, 40, 40, 0.37);
    border-radius: 8px;
    color: #84a98c;
    border: 3px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    margin-bottom: 10px;
}

.skip-to-btn:hover {
    border-color: #f08527;
    color: #cad2c5;
    box-shadow: 0 0.5em 0.5em -0.4em #f08527;
    transform: translateY(-0.25em);
    cursor: pointer;
}


.aboutme-container {
    background: linear-gradient(to bottom, rgba(119, 72, 8, 0.565), rgba(121, 23, 151, 0.291)), url('../img/tai-bui-393l7SYoM7w-unsplash.jpg') center center no-repeat;
    background-size: cover;
    border: solid 5px #2f3e46;
    border-radius: 5px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin: 5px 20px 5px 20px;
}

.aboutme-content {
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 100px;
    margin: 0 auto;
    color: #cad2c5;
    text-shadow: 2px 2px 4px #f08527;
}

.aboutme-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 400px;
    height: 500px;
    overflow: hidden;
    border: solid 5px #2f3e46;

}

.projects-container {
    background: linear-gradient(to bottom, rgba(119, 72, 8, 0.565), rgba(121, 23, 151, 0.291));
    border: solid 5px #2f3e46;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin: 5px 20px 5px 20px;
}

.projects-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    width: 50%;
    max-width: 1000px;
    text-align: center;
    padding: 100px;
    margin: 0 auto;
    color: #cad2c5;
    text-shadow: 2px 2px 4px #2f3e46;
}

.projects-item {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    /* border: solid 5px #2f3e46; */
    border-radius: 10px;
    margin: 5px;
}

.projects-item h3:hover {
    border-color: #f08527;
    color: #cad2c5;
    box-shadow: 0 0.5em 0.5em -0.4em #f08527;
    transform: translateY(-0.25em);
    transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.projects-item a {
    display: flex;
    text-decoration: none;
    flex-wrap: nowrap;
    flex-direction: column;
    border: solid 5px #2f3e46;
    border-radius: 10px;
    margin: 10px;
}

.projects-item .btn {
    background-color: rgba(56, 40, 40, 0.37);
    size: 12px;
    border-radius: 8px;
    color: #84a98c;
    border: 3px solid;
    padding: 5px;
    margin: 2px;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.projects-item .btn:hover {
    border-color: #f08527;
    color: #cad2c5;
    box-shadow: 0 0.5em 0.5em -0.4em #f08527;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.contact-container {
    background: linear-gradient(to bottom, rgba(119, 72, 8, 0.565), rgba(121, 23, 151, 0.291));
    border: solid 5px #2f3e46;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin: 5px 20px 5px 20px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    color: #cad2c5;
    text-shadow: 2px 2px 4px #2f3e46;
}

.contact-content a {
    text-decoration: none;
    color: #f4a261;
}

.contact-content a:hover {
    text-decoration: underline;
    color: #83c5be;
}

.contact-content a:visited:hover {
    text-decoration: none;
    color: #264653;
}

.footer-content {
    border: solid 5px #2f3e46;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin: 5px 20px 5px 20px;
}

.main-nav {
    display: none;
}

.mobile-nav span a {
    font-size: 48px;
    padding: 8px;
    color: #F1F1F1;
}

.mobile-nav span a:hover {
    color: #84a98c;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 280px) {

    .intro-content,
    .aboutme-content {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        max-width: 3000px;
        text-align: center;
        padding: 0;
        margin: 0;
        color: #cad2c5;
        text-shadow: 2px 2px 4px #2f3e46;
        background: rgba(47, 62, 70, .8);
        border-radius: 10px;
    }

    .intro-content h1 {
        font-size: 40px;
    }

    .intro-content p {
        font-size: 20px;
    }

    .aboutme-content {
        display: flexbox;
        align-items: center;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        width: 100%;
        max-width: 768px;
        text-align: center;
        /* padding: 2px; */
        margin: 0 auto;
        color: #cad2c5;
        text-shadow: 2px 2px 4px #2f3e46;
    }

    .aboutme-content button {
        background-color: rgba(56, 40, 40, 0.37);
        border-radius: 8px;
        color: #84a98c;
        border: 3px solid;
        padding: 1em 2em;
        font-size: .8em;
        transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    }

    .projects-container {
        background: linear-gradient(to bottom, rgba(119, 72, 8, 0.565), rgba(121, 23, 151, 0.291));
        border: solid 5px #2f3e46;
        border-radius: 5px;
    }

    .projects-content {
        /* align-items: center;
        justify-content: center; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        width: 100%;
        max-width: 768px;
        text-align: center;
        padding: 2px;
        margin: 0 auto;
        color: #cad2c5;
        text-shadow: 2px 2px 4px #2f3e46;
    }

}

@media only screen and (max-width: 780px) {
    .aboutme-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 400px;
        height: 500px;
        overflow: hidden;
        border: solid 5px #2f3e46;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 580px) {
    .aboutme-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 5px #2f3e46;
        margin-left: 18%;
    }

    .aboutme-content {
        align-items: center;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        width: 100%;
        max-width: 768px;
        text-align: center;
        /* padding: 2px; */
        margin: 0 auto;
        color: #cad2c5;
        text-shadow: 2px 2px 4px #2f3e46;
    }

}

@media only screen and (max-width: 470px) {
    .aboutme-photo {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    .projects-content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .main-nav {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    .aboutme-container {
        background: linear-gradient(to bottom, rgba(119, 72, 8, 0.565), rgba(121, 23, 151, 0.291)), url('../img/tai-bui-393l7SYoM7w-unsplash.jpg') center center no-repeat;
        background-size: cover;
        border: solid 5px #2f3e46;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        height: 90vh;
        margin: 5px 20px 5px 20px;
    }

    .aboutme-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 400px;
        height: 500px;
        overflow: hidden;
        margin-left: 10%;
    }

    .projects-content {
        font-size: 24px;
    }

    ul#navigation {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    ul#navigation li a {
        color: #cad2c5;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        padding: 6px 12px;
        border: solid 2px transparent;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px #2f3e46;
    }

    ul#navigation li a:hover {
        color: #F1F1F1;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 6px 12px;
        border-bottom: solid 2px #2f3e46;
    }

}